<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abechennon</title>
    <link href="resources/css/styles.css" rel="stylesheet">
</head>

<body>
    <h1>ABECHENNON</h1>
    <h2>Nada por aqui, dirijase a la terminal o vuelva la semana proxima, adios!</h2>

    <img src="resources/img/wolf.png" alt="">
</body>

</html>